@use "~/styles/variables.module.scss" as variables;
@use "~/styles/common.module.scss" as common;

.payloadContent {
  @include common.fullSizeBox;
  padding: variables.$spacingMedium;
  flex-direction: row;
  overflow: hidden;
}

.optionContainer {
  @include common.fullSizeBox;
  width: 380px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: variables.$spacingMedium;
}

.paramGroup {
  display: flex;
  align-items: center;
  padding: variables.$spacingXsmall 0;

  :global {
    .title {
      width: 140px;
      flex: 0 0 auto;
      color: variables.$colorTextDark;
    }

    .items {
      flex: 1;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .itemGroup {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: variables.$spacingXsmall 0;
    }
  }
}

.resultListContainer {
  @include common.fullSizeBox;
  padding: variables.$spacingMedium;
  border-radius: 10px;
  background: variables.$colorSecondaryBackground;
}
