@use "~/styles/variables.module.scss" as variables;
@use "~/styles/common.module.scss" as common;

.payloadContainer {
  @include common.fullSizeBox;
  margin-top: variables.$spacingMedium * -1;
}

.payload {
  @include common.fullSizeBox;
  overflow: hidden;
  padding-top: variables.$spacingMedium;
}

.dictionaryInput {
  @include common.fullSizeBox;
  padding: variables.$spacingMedium 0;
  flex-direction: row;
  overflow: hidden;
  position: relative;

  :global {
    textarea {
      width: 100%;
      height: 100%;
    }

    .totalLength {
      position: absolute;
      bottom: variables.$spacingMedium + variables.$spacingSmall;
      right: variables.$spacingSmall;
      padding: variables.$spacingXxsmall variables.$spacingSmall;
      background: variables.$colorSecondaryBackground;
      border-radius: 5px;
      border: none;
    }

    .buttonContainer {
      position: absolute;
      top: variables.$spacingMedium + variables.$spacingSmall;
      right: variables.$spacingSmall;

      button {
        margin: 0 variables.$spacingXxsmall;
      }
    }
  }
}

.dictionarySelect {
  @include common.fullSizeBox;
  overflow: hidden;

  :global {
    ul {
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      margin: 0;
      padding: 0;
    }
  }
}

.dictionarySelectItem {
  width: 100%;
  box-sizing: border-box;
  flex: 1;
  padding: variables.$spacingXsmall;
  margin: 2px;
  background: variables.$colorPrimaryBackground;
  list-style: none;
  color: variables.$colorTextDark;

  &:hover {
    background: variables.$colorTextUltraLight;
  }

  &.active {
    background: variables.$colorTextUltraLight;
  }
}

.dictionaryList {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  :global {
    ul {
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      margin: 0;
      padding: 0;
    }

    .totalLength {
      position: absolute;
      bottom: variables.$spacingSmall;
      right: variables.$spacingSmall;
      padding: variables.$spacingXxsmall variables.$spacingSmall;
      background: variables.$colorSecondaryBackground;
      border-radius: 5px;
      border: none;
    }

    .buttonContainer {
      position: absolute;
      top: variables.$spacingSmall;
      right: variables.$spacingSmall;

      button {
        margin: 0 variables.$spacingXxsmall;
      }
    }
  }
}

.dictionaryListItem {
  width: 100%;
  box-sizing: border-box;
  flex: 1;
  padding: variables.$spacingXsmall;
  margin: 2px;
  background: variables.$colorPrimaryBackground;
  list-style: none;
  color: variables.$colorTextDark;
}

.payloadContent {
  @include common.fullSizeBox;
  padding: variables.$spacingMedium;
  flex-direction: row;
  overflow: hidden;
}

.resultListContainer {
  @include common.fullSizeBox;
  padding: variables.$spacingMedium;
  border-radius: 10px;
  background: variables.$colorSecondaryBackground;
}

.generateBruteForcerOptionContainer {
  @include common.fullSizeBox;
  width: 380px;
  margin-right: variables.$spacingMedium;
}

.generateBruteForcerParamGroup {
  display: flex;
  align-items: center;
  padding: variables.$spacingXsmall 0;

  :global {
    .title {
      width: 75px;
      flex: 0 0 auto;
      color: variables.$colorTextDark;
    }

    .items {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.generateDateOptionContainer {
  @include common.fullSizeBox;
  width: 380px;
  margin-right: variables.$spacingMedium;
}

.generateDateParamGroup {
  display: flex;
  align-items: center;
  padding: variables.$spacingXsmall 0;

  :global {
    .title {
      width: 125px;
      flex: 0 0 auto;
      color: variables.$colorTextDark;
    }

    .items {
      flex: 1;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .fix-width {
        width: variables.$spacingGutter;
        margin: 0 variables.$spacingMedium;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

.generateDateNotices {
  padding: variables.$spacingMedium 0;

  :global {
    .notice {
      color: variables.$colorTextMedium;
      font-weight: 700;
      background-color: variables.$colorTextUltraLight;
      padding: 1px 3px;
      margin: 0 5px;
      border-radius: 3px;

      &:first-of-type {
        margin-left: 20px;
      }
    }
  }
}

.generateDirectoryTraversalOptionContainer {
  @include common.fullSizeBox;
  width: 380px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: variables.$spacingMedium;
}

.generateDirectoryTraversalParamGroup {
  display: flex;
  align-items: center;
  padding: variables.$spacingXsmall 0;

  :global {
    .title {
      width: 140px;
      flex: 0 0 auto;
      color: variables.$colorTextDark;
    }

    .items {
      flex: 1;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .itemGroup {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: variables.$spacingXsmall 0;
    }
  }
}

.generateNumberOptionContainer {
  @include common.fullSizeBox;
  width: 380px;
  overflow-y: auto;
  margin-right: variables.$spacingMedium;
}

.generateNumberParamGroup {
  display: flex;
  align-items: center;
  padding: variables.$spacingXsmall 0;

  :global {
    .title {
      width: 125px;
      flex: 0 0 auto;
      color: variables.$colorTextDark;
    }

    .items {
      flex: 1;
      display: flex;
      flex-wrap: wrap;

      input:disabled {
        color: variables.$colorTextUltraLight;
      }
    }
  }
}
